<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gkaakash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Create new organisation"
            android:name=".createOrg" >
        </activity>
        <activity
            android:label="Organisation details"
            android:name=".orgDetails" >
        </activity>
        <activity
            android:label="Preferences"
            android:name=".preferences" >
        </activity>
        <activity
            android:label="Create account"
            android:name=".createAccount" >
        </activity>
        <activity
            android:label="Menu"
            android:name=".menu" >
        </activity>
        <activity
            android:label="Edit preferences"
            android:name=".editPreferences" >
        </activity>
        <activity 
            android:theme="@style/CustomTheme"
            android:label="Report types"
            android:name=".report" >
        </activity>
        <activity
            android:label="Menu >> Report"
            android:name=".reportMenu" >
        </activity>
         <activity 
             android:theme="@style/mytheme1"
            android:label="Voucher Types"
            android:name=".editVoucher">
        </activity>
        <activity
            android:label="Menu >> Transaction"
            android:name=".voucherMenu" >
        </activity>
         <activity
            android:theme="@style/mytheme1"
            android:label=""
            android:name=".edit_account" >
            
        </activity>
         <activity
      		 android:label="Account"
            android:name=".account_tab" >
       </activity>
       <activity
            android:theme="@style/CustomTheme"
      		 android:label="Transaction"
            android:name=".transaction_tab" >
       </activity>
        <activity
            
      		 android:label="Transaction"
            android:name=".createVoucher" >
       </activity>
        <activity
            
      		 android:label="Select Organisation"
            android:name=".selectOrg" >
       </activity> 
       
         <activity
            
      		 android:label="login"
            android:name=".login" >
       </activity> 
    </application>
    

</manifest>