<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gkaakash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Create New Organisation"
            android:name=".createOrg" >
        </activity>
        <activity
            android:label="Organisation Details"
            android:name=".orgDetails" >
        </activity>
        <activity
            android:label="Preferences"
            android:name=".preferences" >
        </activity>
        <activity
            android:label="Create Account"
            android:name=".createAccount" >
        </activity>
        <activity
            android:label="Menu"
            android:name=".menu" >
        </activity>
        <activity
            android:label="Edit Preferences"
            android:name=".editPreferences" >
        </activity>
        <activity
            android:label="Report Types"
            android:name=".Report" >
        </activity>
        <activity
            android:label="Ledger Report"
            android:name=".reportType" >
        </activity>
         <activity
            android:label="Contra"
            android:name=".Voucher" >
        </activity>
        <activity
            android:label="Contra"
            android:name=".voucherType" >
        </activity>
        
    </application>
    

</manifest>