<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gkaakash"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk 
        android:minSdkVersion="8"
        android:targetSdkVersion="17" /> 
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     
    <application
        android:icon="@drawable/abt_logo"
        android:label="@string/app_name" >
        <activity  
            android:name=".MainActivity"  
            android:label="@string/title_activity_main" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Create new organisation"
            android:name=".createOrg"
            android:screenOrientation="landscape" >
        </activity> 
        <activity
            android:label="Organisation details"
            android:name=".orgDetails"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="Preferences"
            android:name=".preferences"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".createAccount"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="Menu"
            android:name=".menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="Edit preferences"
            android:name=".editPreferences"
            android:screenOrientation="landscape" >
        </activity>
        <activity 
            android:label="Report types"
            android:name=".report"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="Menu >> Report"
            android:name=".reportMenu"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:label="Voucher types"
            android:name=".SearchVoucher"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="Menu >> Transaction"
            android:name=".voucherMenu"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".edit_account"
            android:screenOrientation="landscape" >
            
        </activity>
         <activity
            android:name=".account_tab"
            android:screenOrientation="landscape" >
       </activity>
       <activity
      		 android:label="Transaction"
            android:name=".transaction_tab"
            android:screenOrientation="landscape" >
       </activity>
        <activity
            
      		 android:label="Transaction"
            android:name=".createVoucher"
            android:screenOrientation="landscape" >
       </activity>
        <activity
            
      		 android:label="Select organisation"
            android:name=".selectOrg"
            android:screenOrientation="landscape" >
       </activity> 
       
         <activity
            
      		 android:label="Login"
            android:name=".login"
            android:screenOrientation="landscape" >
       </activity> 
       
         <activity
      		 android:label="Ledger"
            android:name=".ledger"
            android:screenOrientation="landscape" >
       </activity> 
       
         <activity
      		 android:label="Trial balance"
            android:name=".trialBalance"
            android:screenOrientation="landscape" >
       </activity> 
       
         <activity
      		android:label="Project statement"
      		android:name=".projectStatement"
      		android:screenOrientation="landscape" >
       </activity>
       
         <activity
      		android:label="Profit and Loss"
      		android:name=".incomeExpenditure"
      		android:screenOrientation="landscape" >
       </activity>
       
         <activity
      		android:label="Cash flow"
      		android:name=".cashFlow"
      		android:screenOrientation="landscape" >
       </activity>
       
         <activity
      		android:label="Bank reconciliation"
      		android:name=".bankReconciliation"
      		android:screenOrientation="landscape" >
       </activity>
       <activity
      		android:label="Balance Sheet"
      		android:name=".balanceSheet"
      		android:screenOrientation="landscape" >
       </activity>
       
       <activity
      		android:label="Add project"
      		android:name=".addProject"
      		android:screenOrientation="landscape" >
       </activity>
       
       <activity
      		android:label="ABT Help"
      		android:name=".Help"
      		android:screenOrientation="landscape" >
       </activity>
       
       <activity
      		android:label="RollOver"
      		android:name=".rollOver"
      		android:screenOrientation="landscape" >
       </activity>
        <activity
      		android:label="CashBook"
      		android:name=".cashBook"
      		android:screenOrientation="landscape" >
       </activity>
       <activity
      		android:label="UserSetting"
      		android:name=".userSetting"
      		android:screenOrientation="landscape" >
       </activity>
       <activity
      		android:label="addUser"
      		android:name="com.example.gkaakash.User_table"
      		android:screenOrientation="landscape" >
       </activity>
       <activity
      		android:label="editUser"
      		android:name=".editUser"
      		android:screenOrientation="landscape" >
       </activity>
    </application>
    

</manifest>
